.enrolled-course-card {
    background-color: #14997660;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .enrolled-course-card h4 {
    color: #343a40;
    font-weight: 500;
  }

  .loading-spinner {
    text-align: center;
    margin-top: 50px;
  }
  