.login-page {
  background: url("your-background-image.png") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: white;
  border-radius: 8px;
  padding: 50px 40px;  /* Increased padding */
  width: 100%;  /* Full width */
  max-width: 800px;  /* Limit max width */
  box-shadow: 0 4px 6px rgba(247, 244, 244, 0.753);
}

.login-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 10px;
}
.custom-icon {
  display: inline-block;
  width:30px;
  height: 30px;
  background-image: url('./logo.png');
  background-size: cover;
}
.sign-in-link {
  font-weight: bold;
  text-decoration: underline;
}
button {
  width: auto; /* Make the button width auto */
  max-width: 300px; /* Set a max-width if needed */
}
.google-icon {
  margin-right: 15px; /* Adjust the space as needed */
}



@media (max-width: 768px) {
  .login-box {
    padding: 30px 50px;  /* Adjust padding for smaller screens */
    width: 90%;  /* Take up 90% of the screen */
    max-width: 400px;  /* Set max-width */
  }
}
